body {
    background-color: rgb(41, 41, 41);
    font-family: "Montserrat", Arial, serif;
    margin: 0;
    padding: 0;
}

/* Header */
.container {
    width: 80%;
    margin: auto;
}

nav {
    position: fixed;
    top: 0;
}

nav li {
    float: left;
    list-style: none;
    font-family: "Lora", Arial, serif;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

nav li a.active {
    color: #FF9800;
    font-weight: bold;
}

nav li a.active:hover {
    color: white;
}

nav li a:hover {
    background-color: #FF9800;
}
/* Akhir Header */

/* Deskripsi-photo */
.flex-container {
    display: flex;
}

.desc-photo {
    margin-top: 100px;
}

.flex-container .col-desc {
    margin-right: 70px;
    text-align: justify;
    color: white;
    align-self: center;
}

.col-desc h1 {
    letter-spacing: 4px;
    padding-bottom: 20px;
}

.col-desc p {
    line-height: 25px;
}

.desc-photo img {
    width: 100%;
    border-radius: 30%;
}

.col-photo .sosmed {
    margin-top: 40px;
    text-align: center;
}

.col-photo .sosmed img{
    width: 25px;
    height: 25px;
    margin: 0 25px;
}
/* Akhir Deskripsi-photo */

/* Work, Education, dan Skill */
  .flex-container div.work-educate {
    color: white;
    margin: 50px 30px 50px 0;
    width: 600px;
  }

  section.work {
      margin-bottom: 30px;
  }

  .work h5, .educate h5 {
      margin-bottom: 15px;
  }

  .work h6, .educate h6 {
    margin-top: 0px;
}

  .flex-container aside.sidebar {
    color: white;
    margin: 50px 0;
    width: 300px;
  }

  .work-educate .work h3, 
  .work-educate .educate h3,
  .sidebar .skill h3 {
      color: #FF9800;
      text-align: center;
      border-bottom: 1px solid grey;
      padding-bottom: 10px;
  }

  .flex-container-skill {
      display: flex;
      flex-direction: column;
  }

  .flex-container-skill img {
      width: 80px;
      align-self: center;
      margin: 25px 0;
  }
  /* Akhir Work, Education, dan Skill */